<ion-view cache-view="false">
  <link href="css/employeelist.css" rel="stylesheet" cache-view="false">
  
  <ion-header-bar>
         <div class="row">    
             <div class="col col-10" ng-click="back()"><i class="button-icon ion-android-arrow-back close"></i></div>                   
             <div class="col col-80" > <p class="titletext">Assign Project</p></div>
             <div class="col col-10"><i class="button-icon ion-log-out close" ng-click="logout()"></i></div>
         </div>
  </ion-header-bar>   


  <ion-content class="content_back" padding=true>

  <h6><center>{{EmployeeName}}</center></h6>

        <div class="row">
          <div class="col col-50">Project Name</div>
          <div class="col col-50">
             <select ng-model="projectnameside"  ng-change="projectname(projectnameside)" ng-options="g.name for g in AllProject" ng-Required="true" >
              <option value="" style="display:true;width: 100%">---Select---</option>
              </select>
          </div>
        </div>

         <div class="row">
            <div class="col col-50"></div>
            <div class="col col-50">
              <button class="button button-small button-block button-positive a" ng-click="assignto()">Save</button>
            </div>
        </div>

  </ion-content>
</ion-view>

