<!-- <ion-modal-view cache-view="false"> 
              <ion-header-bar>
                <div class="row">
                  <div class="col col-20" ng-click="closeModal()"><i class="button-icon ion-ios-arrow-back close"></i></div>             
                  <div class="col col-80" > <p class="titletext">Message</p></div>
                </div>
              </ion-header-bar>
              <ion-content ng-controller="ProjectlistCtrl">                                        
                  <div class="list list-inset">
                      <p>To : {{nameOpen}}</p>
                      <textarea  class="brd-txt" rows="4" style="width:100%;" ng-model="teamMode.response" ng-required="true" placeholder="Text Message here"></textarea>
                      <button ng-disabled="!teamMode.response" ng-click="popup(mNumber,selectedId,teamMode.response);closeModal();SMSPost(selectedId,teamMode.response)" class="button button-block button-positive">Send</button>
                  </div>                        
              </ion-content>                    
</ion-modal-view> -->