.content_back{
  background-color: #D8D8D8;
  
}
.content_back.search{
  top: 88px !important;
}
.icon-clr{
  color: #E96E28;
}
.line {
    border-right: 1px solid;
    border-color: #c3c3c3;
}

.ion-more{
  color: #E96E28;
}

.bar{
    width: 100%;
    background-color: #074F89;
 }
.close{
  color: #ffffff;
    font-size: 22px;
}

.titletext{
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    font-size: 15pt; 
}


.button-danger {
    background-color: #074F89 !important;
    color: #fff;
}


.bg-color{
  background-color: #074F89;
  color: #fff;
}



.group{
  position:relative; 
  border-radius: 10px 10px; 
  width: 100%;
}

.remove{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: #E96E28;
    border: none;
    color: white;
}


.add{
  color:  #074F89;
    font-size: 22px;
}

button.button.button-small.button-block.button-positive.a{
  background-color:#074F89;  
}
button.button.button-small.button-block.button-positive.a.a1{
  margin-left: -9px;;
}

button.button.button-small.button-block.button-positive.a.a3{
  left:10px;
}

.table td.colo{
 color:#E96E28;
}